{% extends 'shared/_Main_Layout.html' %}
{% block content %}
{% load static %}
{% load embed_video_tags %}

<!-- details -->
	<section class="mt-0 section section--head section--head-fixed section--gradient section--details-bg">
		<div class="section__bg" data-bg="{{detail.img2.url}}" style='height:750px;'></div>
		<div class="container">
			<!-- article -->
			<div class="article">
				<div class="row">
					<div class="col-12 col-xl-8">
						<!-- trailer -->
						<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="article__trailer">
							<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 1C16.5228 1 21 5.47716 21 11C21 16.5228 16.5228 21 11 21C5.47716 21 1 16.5228 1 11C1 5.47716 5.47716 1 11 1Z" stroke-linecap="round" stroke-linejoin="round"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M14.0501 11.4669C13.3211 12.2529 11.3371 13.5829 10.3221 14.0099C10.1601 14.0779 9.74711 14.2219 9.65811 14.2239C9.46911 14.2299 9.28711 14.1239 9.19911 13.9539C9.16511 13.8879 9.06511 13.4569 9.03311 13.2649C8.93811 12.6809 8.88911 11.7739 8.89011 10.8619C8.88911 9.90489 8.94211 8.95489 9.04811 8.37689C9.07611 8.22089 9.15811 7.86189 9.18211 7.80389C9.22711 7.69589 9.30911 7.61089 9.40811 7.55789C9.48411 7.51689 9.57111 7.49489 9.65811 7.49789C9.74711 7.49989 10.1091 7.62689 10.2331 7.67589C11.2111 8.05589 13.2801 9.43389 14.0401 10.2439C14.1081 10.3169 14.2951 10.5129 14.3261 10.5529C14.3971 10.6429 14.4321 10.7519 14.4321 10.8619C14.4321 10.9639 14.4011 11.0679 14.3371 11.1549C14.3041 11.1999 14.1131 11.3999 14.0501 11.4669Z" stroke-linecap="round" stroke-linejoin="round"></path></svg>
							Trailer
						</a>
						<!-- end trailer -->

						<!-- article content -->
						<div class="article__content">
							<h1>{{detail.title}}</h1>

							<ul class="list">
								<li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg>{{detail.imdb}}</li>
								<li>{{detail.genre}}</li>
								<li>{{detail.publish}}</li>
								<li>Seasons : {{detail.season}}</li>	
							</ul>

							<p>{{detail.desc}}</p>
						</div>
						<!-- end article content -->


						<div class="article__content mt-5">
							<ul class="list">
								<li>Director : {{detail.director}}</li>
							</ul>
						<div/>

						<div class="article__content mt-5">
							<ul class="list">
								<li>Stars : {{detail.stars}}</li>
							</ul>
						<div/>
					</div>

					<!-- video player -->
					<div class="col-12 col-xl-8 mt-5">
						{% video detail.trailer 'small' %}
					</div>
					<!-- end video player -->
									
				</div>

				

			</div>
			<!-- end article -->
		</div>

	</section>
	<!-- end details -->

   				<div class="col-12 col-xl-12">
						<div class="dashbox">
							<div class="dashbox__title">
								<h3><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"></path></svg>Download & Enjoy!</h3>
							</div>

							<div class="dashbox__table-wrap dashbox__table-wrap--2" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;"><div class="scroll-content">
								<table class="main__table main__table--dash">
									<thead>
										<tr>
											<th>Movie</th>
											<th>Download 480P</th>
											<th>Download 720P</th>
											<th>Download 1080P</th>
										</tr>
									</thead>
									<tbody>
									{% for epi in detail.movies.all %}
										<tr>
											<td>
												<div class="main__table-text"><a>{{epi.title}} - <strong>S {{epi.season}}</strong></a></div>
											</td>
											<td>
												<div class="main__table-text"><a href="{{epi.download}}">S: {{epi.season}} - E: {{epi.episode}}</a></div>
											</td>
											<td>
												<div class="main__table-text"><a href="{{epi.download2}}">S: {{epi.season}} - E: {{epi.episode}}</a></div>
											</td>
											<td>
												<div class="main__table-text"><a href="{{epi.download3}}">S: {{epi.season}} - E: {{epi.episode}}</a></div>
											</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div><div class="scrollbar-track scrollbar-track-x show" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x" style="width: 930px; transform: translate3d(0px, 0px, 0px);"></div></div><div class="scrollbar-track scrollbar-track-y show" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-y" style="height: 268px; transform: translate3d(0px, 0px, 0px);"></div></div></div>
						</div>
					</div>
{% endblock content %}