<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% include 'shared/_Header_Refrences.html' %}

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FlixTV – Movies & TV Shows, Online cinema HTML Template</title>

</head>

<body>
	<!-- header (relative style) -->
	{% include 'shared/Header.html' %}
	<!-- end header -->

	{% block content %}{% endblock content %}

	<!-- footer -->
	{% include 'shared/Footer.html' %}
	<!-- end footer -->

	{% include 'shared/_Footer_Refrences.html' %}

</body>


</html>